{% extends "base/logged_base.html" %}
{% load i18n bootstrap3 staticfiles %}

{% block page_title %}{{ object.name }} - {% endblock page_title %}

{% block content %}
	<a class='btn btn-primary pull-right' href="{% url 'songs:song_random' %}"><i class="fa fa-random"></i> {% trans "Random song" %}</a>
	<h2>{{ object.name }}</h2>
	<div class="row">
		<ul class="list-group col-md-4">
			{% for part in song.xml_parts %}
				<li class="list-group-item">
					{% blocktrans with name=part.name note=part.first_note %}
						<strong>{{ name }}</strong> starts with <strong>{{ note }}</strong>
					{% endblocktrans %}
				</li>
			{% empty %}
				<li class="list-group-item">
					{% trans "No parts found in the file (or the file can't be found ?)" %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock content %}
