{% extends "base/logged_base.html" %}
{% load i18n bootstrap3 staticfiles %}

{% block page_title %}{% trans "Songs" %} - {% endblock page_title %}

{% block content %}
	<div class="btn-group pull-right" role="group">
		 <a class='btn btn-success' href="{% url 'songs:songs_compare' %}"><i class="fa fa-server"></i> {% trans "Update songs" %}</a>
		 <a class='btn btn-primary' href="{% url 'songs:songs_dropbox_sync' %}"><i class="fa fa-dropbox"></i> {% trans "Sync from Dropbox" %}</a>
			<a class='btn btn-default' href="{% url 'songs:song_random' %}"><i class="fa fa-random"></i> {% trans "Random song" %}</a>
	</div>
	{% regroup object_list by category as folder_list %}
	{% for folder in folder_list %}
		<h3>{{folder.grouper}} :</h3>
		<div class="row">
		{% for song in folder.list %}
			{% if forloop.counter0|divisibleby:"3" and forloop.counter0 > 0 %}
				</div><div class="row">
			{% endif %}
			<div class="col-md-4"><div class="panel panel-success">
				<div class="panel-heading"><h3 class="panel-title">
					<a href="{{ song.get_absolute_url }}"><i class="fa fa-music"></i> {{ song.name }}</a>
				</h3></div>
				<ul class="panel-body list-group">
					<li class="list-group-item">
					{% with song.parts.all|length as num_parts %}
						{% if num_parts == 0 %}
							{% trans "No parts detected in this song." %}
						{% else %}
							{% blocktrans count num_parts_l=num_parts %}
								This song has a <strong>single</strong> part
							{% plural %}
								This song has <strong>{{num_parts_l}}</strong> parts
							{% endblocktrans %}:
							{% for part in song.parts.all %}
								{{ part.name }}{% if not forloop.last %}, {% endif %}
							{% endfor %}
						{% endif %}
					{% endwith %}
					</li>
					<li class="list-group-item">
						<ul>
						<li>{% blocktrans with folder=song.folder %}In <strong>{{ folder }}</strong>{% endblocktrans %}</li>
						{% if song.date_created %}
							<li>{% blocktrans with time_since=song.date_created|timesince %}added <strong>{{ time_since }}</strong> ago{% endblocktrans %}&nbsp;</li>
						{% endif %}
						{% if song.date_modified %}
							<li>{% blocktrans with time_since=song.date_modified|timesince %}last modified <strong>{{ time_since }}</strong> ago{% endblocktrans %}</li>
						{% endif %}
						</ul>
					</li>
				</ul>
			</div></div>
		{% endfor %}
		</div>
	{% endfor %}
{% endblock content %}
