{% extends "base/base.html" %}
{% load bootstrap3 i18n %}

{% block page_title %}{% trans "Login" %} - {% endblock page_title %}

{% block content %}

<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<form method="post" action="{% url 'login' %}">
			{% csrf_token %}
			{% bootstrap_form form %}
			{% buttons %}
				<input class="btn btn-primary" type="submit" value="{% trans 'Login' %}" />
			{% endbuttons %}
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>

</div>

{% endblock content %}
